/* * {
  border: 1px dotted blue;
}*/

.smallerContainer {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 2px solid black;
}

.smallerContainerRed {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
}
